SOAP Client/src/main/resources/wsdl/Z63L_AS_EREPORT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
	<wsdl:documentation>
		<sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
	</wsdl:documentation>
	<wsp:UsingPolicy wsdl:required="true"/>
	<wsp:Policy wsu:Id="BN_Z63L_ES_EREPORT">
		<saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
		<wsaw:UsingAddressing xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing"/>
		<sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
		<wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility">
			<wsp:All>
				<sp:TransportBinding>
					<wsp:Policy>
						<sp:TransportToken>
							<wsp:Policy>
								<sp:HttpsToken>
									<wsp:Policy>
										<sp:HttpBasicAuthentication/>
									</wsp:Policy>
								</sp:HttpsToken>
							</wsp:Policy>
						</sp:TransportToken>
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:TripleDesRsa15/>
							</wsp:Policy>
						</sp:AlgorithmSuite>
						<sp:Layout>
							<wsp:Policy>
								<sp:Strict/>
							</wsp:Policy>
						</sp:Layout>
					</wsp:Policy>
				</sp:TransportBinding>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="IF_Z63L_AS_EREPORT">
		<sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
			<sapsession:enableSession>false</sapsession:enableSession>
		</sapsession:Session>
		<sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
			<sapcentraladmin:BusinessApplicationID>581693CB65D62280E10080000AF80E3A</sapcentraladmin:BusinessApplicationID>
		</sapcentraladmin:CentralAdministration>
	</wsp:Policy>
	<wsp:Policy wsu:Id="OP_Z63L_AS_EREPORT_GETNSI">
		<sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
		<sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
		<saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
		<saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
	</wsp:Policy>
	<wsp:Policy wsu:Id="OP_Z63L_AS_EREPORT_GETOPER">
		<sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
		<sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
		<saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
		<saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
	</wsp:Policy>
	<wsdl:types>
		<xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
			<xsd:element name="Z63L_AS_EREPORT_GETOPER">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CDEPO" type="xsd:int"/>
						<xsd:element name="CDOR" type="xsd:int"/>
						<xsd:element name="MDATE" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Z63L_AS_EREPORT_GETOPERResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="RESULT" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Z63L_AS_EREPORT_GETNSI">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CDEPO" type="xsd:int"/>
						<xsd:element name="CDOR" type="xsd:int"/>
						<xsd:element name="D_REFRESH" type="xsd:string"/>
						<xsd:element name="S_NAME_NSI" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Z63L_AS_EREPORT_GETNSIResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="RESULT" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="Z63L_AS_EREPORT_GETOPER">
		<wsdl:part name="parameters" element="tns:Z63L_AS_EREPORT_GETOPER"/>
	</wsdl:message>
	<wsdl:message name="Z63L_AS_EREPORT_GETOPERResponse">
		<wsdl:part name="parameter" element="tns:Z63L_AS_EREPORT_GETOPERResponse"/>
	</wsdl:message>
	<wsdl:message name="Z63L_AS_EREPORT_GETNSI">
		<wsdl:part name="parameters" element="tns:Z63L_AS_EREPORT_GETNSI"/>
	</wsdl:message>
	<wsdl:message name="Z63L_AS_EREPORT_GETNSIResponse">
		<wsdl:part name="parameter" element="tns:Z63L_AS_EREPORT_GETNSIResponse"/>
	</wsdl:message>
	<wsdl:portType name="Z63L_AS_EREPORT">
		<wsp:Policy>
			<wsp:PolicyReference URI="#IF_Z63L_AS_EREPORT"/>
		</wsp:Policy>
		<wsdl:operation name="Z63L_AS_EREPORT_GETOPER">
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_Z63L_AS_EREPORT_GETOPER"/>
			</wsp:Policy>
			<wsdl:input message="tns:Z63L_AS_EREPORT_GETOPER"/>
			<wsdl:output message="tns:Z63L_AS_EREPORT_GETOPERResponse"/>
		</wsdl:operation>
		<wsdl:operation name="Z63L_AS_EREPORT_GETNSI">
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_Z63L_AS_EREPORT_GETNSI"/>
			</wsp:Policy>
			<wsdl:input message="tns:Z63L_AS_EREPORT_GETNSI"/>
			<wsdl:output message="tns:Z63L_AS_EREPORT_GETNSIResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Z63L_ES_EREPORT" type="tns:Z63L_AS_EREPORT">
		<wsp:Policy>
			<wsp:PolicyReference URI="#BN_Z63L_ES_EREPORT"/>
		</wsp:Policy>
		<wsa:EndpointReference xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing">
			<wsa:ReferenceParameters/>
		</wsa:EndpointReference>
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="Z63L_AS_EREPORT_GETOPER">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Z63L_AS_EREPORT_GETNSI">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Z63L_ES_EREPORT">
		<wsdl:port name="Z63L_ES_EREPORT" binding="tns:Z63L_ES_EREPORT">
			<soap:address location="http://eyre.gvc.oao.rzd:8010/sap/bc/srt/rfc/sap/z63l_as_ereport/300/z63l_es_ereport/z63l_es_ereport"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>